.Header {
  margin: 0 auto;
  padding: 90px;
  max-width: 100%;
  display: flex;
}
.Header .background {
  width: 940px;
  height: 600px;
  border-radius: 50%;
 background-color: aquamarine;
}
.Header .hero h1 {
  font-family: 'Gulzar', serif;
  font-size: 30px;
  padding: 100px 0;  
}
.Header button {
  font-family: 'Gulzar', serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(47, 190, 159);
  margin: 0 10px;
}