.Nav {
  width: 100%;
  color: rgb(13, 58, 126);
  padding: 0 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  position: fixed;
  top: 0;
  border: 2px solid white;
}

.Nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
 width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding: 0 1rem;
}
ul {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: flex;
}
