.AuthItem {
  padding-top: 400px;
  display: flex;
  height: 100%;
  min-height: 300px;
  font-family: 'Libre Baskerville', serif;
  display: flex;
  justify-content: center;
  align-items: center;

}
.AuthItem h1 {
  color: rgb(131, 173, 201);
  text-align: center;
}
.AuthItem .container {
  position: absolute;
 
  margin: 20px;
  max-width: 350px;
  padding: 16px;
  background-color: white;
  box-shadow: 0px -2px 10px rgb(131, 173, 201), 1px -2px 0px rgb(131, 173, 201);
}

.AuthItem label {
  color: rgb(131, 173, 201);
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
}
.AuthItem label img {
  width: 100%;
  max-width: 25px;
  position: relative;
  top: 8px;
  margin-right: 5px;
}

.AuthItem input {
  font-family: 'Libre Baskerville', serif; 
  width: 100%;
  max-width: 270px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgb(131, 173, 201);
  background-color: rgb(131, 173, 201);
  outline: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 400;
}
.AuthItem button {
  font-family: 'Libre Baskerville', serif; 
  background-color: rgb(131, 173, 201);
  color: white;
  padding: 16px 20px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 400;

}
.AuthItem button:hover {
  opacity: 1;
}